credentials.py
test.py
./my_netbox_module/credentials.py
*.json
test_parasheet.csv
later_fix_main.py

## folders
__pycache__
.pytest_cache
to_test
dist
/develop/parameter_sheet/
netbox-docker
develop
